{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{%block main_content %}

<div class="main_content_profile">
  <div data-tab-content class="active info" id="submission">
    <div class="row">
      <form>
        <div class="row">
          <div class="col">
            <select name="grade_level" id="grade_level" class="form-control">
              <option value="" class="form-control">--Select Grade Level--</option>
              {% for i in gradelevel %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col">
            <select name="section" id="section" class="form-control"></select>
          </div>

          <div class="col">
            <select name="subject" id="subject" class="form-control">
              <option value="" class="form-control">--Select Subject--</option>
              {% for i in subjects.subjects %}
              <option value="{{ i.subject_id }}">{{ i.subject_name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col">
            <input
              name="myInput"
              id="myInput"
              class="form-control"
              placeholder="Search here"
            />
          </div>
        </div>
      </form>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="table_container">
          <table class="stripe compact" id="class_record">
            <thead>
              <tr align="center">
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Grade Level</th>
                <th scope="col">Subject</th>
                <th scope="col">Written Work</th>
                <th scope="col">Performance Task</th>
                <th scope="col">Quarterly Assessment</th>
                <th scope="col">Weighted Score</th>
                <th scope="col">Final Grade</th>
              </tr>
            </thead>
            <tbody align="center">
              {% for record in records %}
              <tr>
                <td>{{ record.full_name }}</td>
                <td>{{ record.section }}</td>
                <td>{{ record.gradelevel }}</td>
                <td>{{ record.subject_name }}</td>
                <td>{{ record.written_work }}</td>
                <td>{{ record.performance_task }}</td>
                <td>{{ record.quarterly_assessment }}</td>
                <td>{{ record.weighted_score }}</td>
                <td style="color: {{ record.remarks }}"><strong>{{ record.grade }}</strong></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    set_sections("Grade 7");

    var myTable = $("#class_record").DataTable();
    $(".dataTables_filter").hide();
    $("#myInput").keyup(function () {
      myTable.search($(this).val()).draw();
    });

    $("#grade_level").change(function (event) {
      set_sections($(this).val());
      filter_records();
    });
    $("#section").change(function (event) {
      filter_records();
    });
    $("#subject").change(function (event) {
      filter_records();
    });
  });

  function set_sections(grade_level) {
    $.get("http://localhost:8000/get_sections", function (response) {
      var res = JSON.parse(response);
      $("#section").empty();
      $("#section").append(
        $("<option>", { value: "", text: "--Select Section--" })
      );
      $.map(res[grade_level], (d, i) => {
        $("#section").append(
          $("<option>", {
            value: d,
            text: d,
          })
        );
      });
    });
  }

  function filter_records() {
    var myTable = $("#class_record").DataTable();
    var quarter = $(location).attr("href").split("quarter/")[1];
    var gradelevel = $("#grade_level").val();
    var section = $("#section").val();
    var subject = $("#subject").val();

    myTable.clear();
    myTable.draw();
    $.ajax({
      type: "POST",
      url: "http://localhost:8000/get_student_records/" + quarter,
      data: { gradelevel: gradelevel, section: section, subject: subject },
      success: function (r) {
        var data = JSON.parse(r);
        console.log(data);
        $.each(data["data"], function (index, item) {
          myTable.row
            .add([
              item.full_name,
              item.section,
              item.gradelevel,
              item.subject_name,
              item.written_work,
              item.performance_task,
              item.quarterly_assessment,
              item.weighted_score,
              "<div style='color: "+item.remarks+"'><strong>"+item.grade+"</strong></div>",
            ])
            .draw(false);
        });
      },
    });
  }

  function update_record(id, field, counter) {
    var val = "#" + field + ".form-control";
    $.ajax({
      type: "POST",
      url: "http://localhost:8000/update_student_record/" + id,
      data: {
        field: field,
        score: calculate_weighted_score(id, counter),
        val: $(val)[counter - 1].value,
        grade: calculate_grade(counter),
      },
      success: function (r) {
        console.log(r);
      },
    });
  }

  function calculate_weighted_score(id, counter) {
    var fields = ["written_work", "performance_task", "quarterly_assessment"];

    var score = 0;
    $.map(fields, function (i, df) {
      var val = "#" + i + ".form-control";
      score += parseFloat($(val)[counter - 1].value);
    });

    $("#weighted_score.form-control")[counter - 1].value = score;

    if (score <= 100) {
      return score;
    } else {
      alert("Warning: You exceed Weighted Score!");
    }
  }

  function calculate_grade(counter) {
    var transmutation_table = [
      [100, 100, 100],
      [98.4, 99.99, 99],
      [96.8, 98.39, 98],
      [95.2, 96.79, 97],
      [93.6, 95.19, 96],
      [61.6, 63.19, 76],
      [92.0, 93.59, 95],
      [90.4, 91.99, 94],
      [88.8, 90.39, 93],
      [87.2, 88.79, 92],
      [85.6, 87.19, 91],
      [84.0, 85.59, 90],
      [82.4, 83.99, 89],
      [80.8, 82.39, 88],
      [79.2, 80.79, 87],
      [77.6, 79.19, 86],
      [76.0, 77.59, 85],
      [74.4, 75.99, 84],
      [72.8, 74.39, 83],
      [71.2, 72.79, 82],
      [69.6, 71.19, 81],
      [68.0, 69.59, 80],
      [66.4, 67.99, 79],
      [64.8, 66.39, 78],
      [63.2, 64.79, 77],
      [60.0, 61.59, 75],
      [56.0, 59.99, 74],
      [52.0, 55.99, 73],
      [48.0, 51.99, 72],
      [44.0, 47.99, 71],
      [40.0, 43.99, 70],
      [36.0, 39.99, 69],
      [32.0, 35.99, 68],
      [28.0, 31.99, 67],
      [24.0, 27.99, 66],
      [20.0, 23.99, 65],
      [16.0, 19.99, 64],
      [12.0, 15.99, 63],
      [8.0, 11.99, 62],
      [4.0, 7.99, 61],
      [1, 3.99, 60],
      [0, 0, 0],
    ];
    var score = $("#weighted_score.form-control")[counter - 1].value;

    var grade = 0;
    $.map(transmutation_table, function (df, i) {
      if (df[0] <= score && score <= df[1]) {
        grade = df[2];
        $("#grade.form-control")[counter - 1].value = df[2];
      }
    });
    return grade;
  }
</script>

{% endblock %}
