{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{%block main_content %}

<div class="main_content_profile">
  <div class="main_content_profile">
    <div data-tab-content class="active info" id="firstmod">
      <div class="row">
        <div class="col-12">
          <h1 align="center">RECORDS & MODULES</h1>
        </div>
      </div>
      <hr />

      {% for sub in subjects.subjects %}
        <details>
          
            <summary onclick="get_records('{{ sub.subject_id }}')">{{ sub.subject_name }} Record</summary>
            <div class="mathRecord">
              <table class="table table-bordered table-success table-hover compact" style="width:100%" id='per_subject_table{{ sub.subject_id }}'>
                <thead class="thead-dark">
                  <tr align="center">
                    <th scope="col" rowspan="2">NAME</th>
                    <th scope="col" colspan="4">QUARTER</th>
                    <th scope="col" colspan="2">STATUS</th>
                  </tr>
                  <tr align="center">
                    <th scope="col">1ST QUARTER</th>
                    <th scope="col">2ND QUARTER</th>
                    <th scope="col">3RD QUARTER</th>
                    <th scope="col">4TH QUARTER</th>
                    <th scope="col">PERCENT(%)</th>
                    <th scope="col">ALERT</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
        </details>

        <details>
          <summary>{{ sub.subject_name }} Module</summary>
          <br />
          <div class="mathModule">
            <!-- for uploading modules -->
            <details>
              <summary>Reading Materials</summary>
              <br />
              <form method="post" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                <!-- {{ form|crispy }} -->
               <input
                  class="file-upload input"
                  type="file"
                  onchange="readURL(this);"
                  accept="image/pdf"
                  name="document"
                />
                <input type="date" value="2020-06-06" name="date"/> 
                <input type="text" name="subject_id" value='{{ sub.subject_id }}'/> 
                <div>
                  <button type="submit" class="btn btn-primary btn-sm" id="submit">
                    Submit
                  </button>
                </div>
              </form>
              <br/>
            </details>


            <details>
              <summary>Activity</summary>
              <br />
              <form id="form" method="POST" action="/teacher/um/grade">
                {% csrf_token %}

                <input name="myurl" type="url" id="url" />
                <label>Choose URL</label>
                <input name="mydate" type="date" id="date" value="2020-06-06" />
                <textarea name="mycomment" id="comment" placeholder="Enter your comment here">
                </textarea>
                <div>
                  <input type="submit" class="btn btn-primary btn-sm" id="submit">
                  </input>
                </div>
              </form>
              <br />
            </details>
            <details>
              <summary>Quiz</summary>
              <br />
              <form id="form">
                <input type="url" id="url" />
                <label>Choose URL</label>
                <input type="date" id="date" value="2020-06-06" />
                <textarea id="comment" placeholder="Enter your comment here">
                </textarea>
                <div>
                  <a href="#" type="button"
                    ><button class="btn btn-primary btn-sm" id="submit">
                      Submit
                    </button></a
                  >
                </div>
              </form>
              <br />
            </details>
            <details>
              <summary>Exam</summary>
              <br />
              <form id="form">
                <input type="url" id="url" />
                <label>Choose URL</label>
                <input type="date" id="date" value="2020-06-06" />
                <textarea id="comment" placeholder="Enter your comment here">
                </textarea>
                <div>
                  <a href="#" type="button"
                    ><button class="btn btn-primary btn-sm" id="submit">
                      Submit
                    </button></a
                  >
                </div>
              </form>
              <br />
            </details>
          </div>
        </details>
        <br>
 
      {% endfor %}
      <hr />
    </div>
  </div>
</div>







<script>

  function get_records(sub_id){

    // initialization of variables
    var id_name = '#per_subject_table'+sub_id
    var gradelevel = $(location).attr("href").split("/")[5];
    var formatted_gradelevel = gradelevel.includes("#") ? gradelevel.slice(0,-1) : gradelevel
    var url = "http://localhost:8000/teacher/get_quarterly_grade/"+formatted_gradelevel+"/"+sub_id
    
    
    // initialization of datatable
    $.fn.dataTable.ext.errMode = 'none';

    $(id_name).dataTable({
      "ajax" : {
          "url" : url,
          "dataSrc" : "data"
        },
      "columns": [
              { "data": "full_name" },
              { "data": "quarter1" },
              { "data": "quarter2" },
              { "data": "quarter3" },
              { "data": "quarter4" },
              { "data": "percent" },
              { "data": "alert" },
      ],
        
    });

  }
</script>










{% endblock %}
