{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{%block main_content %}

<div class="main_content_profile">
  <div class="main_content_profile">
    <div data-tab-content class="active info" id="firstmod">
      <div class="row">
        <div class="col-12">
          <h1 align="center">RECORDS & MODULES</h1>
        </div>
      </div>
      <hr />

      {% for sub in subjects.subjects %}
        <a class="subject_link" href="/view_per_module/{{ cur_url }}/{{ sub.subject_id }}">
          <div class="card">
            <div id="subj">
                <div class="bar">
                  <h1 class="subject_title">
                    {{ sub.subject_name }}
                  </h1>
                </div>
            </div>
          </div>
        </a>
          
      {% endfor %}  
      <div  style="clear: both; float: left"></div>
      <hr />
    </div>
  </div>
</div>

<script>
  var gradelevel = $(location).attr("href").split("/")[5];
  var formatted_gradelevel = gradelevel.includes("#")
    ? gradelevel.slice(0, -1)
    : gradelevel;

  function get_records(sub_id) {
    // initialization of variables
    var id_name = "#per_subject_table" + sub_id;
    var record_url =
      "http://localhost:8000/teacher/get_quarterly_grade/" +
      formatted_gradelevel +
      "/" +
      sub_id;

    console.log(record_url);
    console.log(gradelevel);
    console.log(formatted_gradelevel);
    console.log(sub_id);
    console.log(id_name);
    // initialization of datatable
    $.fn.dataTable.ext.errMode = "none";

    $(id_name).dataTable({
      ajax: {
        url: record_url,
        dataSrc: "data",
      },
      columns: [
        { data: "full_name" },
        { data: "quarter1" },
        { data: "quarter2" },
        { data: "quarter3" },
        { data: "quarter4" },
        { data: "percent" },
        { data: "alert" },
      ],
    });
  }

  function add_module(form) {
    var url = "http://localhost:8000/";
    var id = "#" + form;
    console.log(url + "add_module" + "/" + formatted_gradelevel);
    $.post(
      url + "add_module" + "/" + formatted_gradelevel,
      $(id).serialize(),
      function (r) {
        alert("Successfully Added");
        setTimeout(function () {
          window.location.replace(url + "teacher/um/" + formatted_gradelevel);
        }, 500);
      }
    ).fail(function () {
      window.location.replace(url + "error500/teacher");
    });
  }

</script>

{% endblock %}
