{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{% block main_content %}

<div class="main_content_profile">
    <div class="main_content_profile">
      <div data-tab-content class="active info" id="firstmod">
        <div class="row">
          <div class="col-12">
            <p id="sub_id" hidden>{{ sub_id }}</p>
            <p id="grade" hidden></p>
            <h1 align="center">{{ formatted_gradelevel}} - {{ subject }} Module</h1>
          </div>
        </div>
        <hr />
        
        <!-- categories --> 
        <h3>ACTIVITIES, QUIZZES AND EXAMS</h3>
        <br>
        <!-- add -->
        <div> 
          <details>
            <summary style="font-size: 18px; font-weight:700">Add modules</summary>
            <form method="POST" action='/add_module/{{ gradelevel }}' enctype="multipart/form-data">
              <input value="{{ user.id }}" id='prepared_by' name="prepared_by" hidden/>
              
              <div class="row">
                <div class="col">
                  <label for="forduedate" class="form-label">Category</label>
                  <select id="select_category" class="form-control" onchange="set_category()">
                    <option value="activity" class="form-control">Activity</option>
                    <option value="quiz" class="form-control">Quiz</option>
                    <option value="exam" class="form-control">Exam</option>
                  </select>
                  <input type="text" value="" id="cat" name="cat">
                </div>
                <div class="col">
                  <label for="forduedate" class="form-label">Set Deadline</label>
                  <input
                  type="date"
                  name="date"
                  class="form-control"
                  id="forduedate"
                  aria-describedby="emailHelp"
                  required
                  />
                </div>
                <div class="col">
                  <label class="form-label">Upload File <label style="color: gray">(Optional)</label></label>
                  <input
                  class="file-upload input form-control"
                  type="file"
                  onchange="readURL(this);"
                  accept="image/pdf"
                  name="document"
                  />
                </div>
              </div>
              <div class="row">
                <input
                type="text"
                name="subject_id"
                value="{{ sub_id }}"
                style="display: none"
                />
                <input
                type="text"
                name="category"
                value="exam"
                style="display: none"
                />
                <div class="mb-3">
                  <div class="form-floating">
                    <textarea
                    class="form-control"
                    name="instruction"
                    id="instruction"
                    style="height: 100px; width: 100%"
                    ></textarea>
                    <label for="floatingTextarea2"
                    >Please provide instructions here..
                  </label>
                </div>
                <div id="emailHelp" class="form-text">e.g. <br />
                  For google forms link. Copy and paste the link here.
                  https://forms.gle/sFBKybkNxhQXn2jT8</div>
                </div>
              </div>
              <div>
                <button
                type="submit"
                class="btn btn-primary btn-sm"
                id="submit"
                >
                Submit
              </button>
            </form>
          </details>
          <!-- end -->
        </div>
          
        <br>
        <br>

        <div class="module_div">
          <table
            class="table table-bordered stripe table-hover compact"
            style="width: 100%"
            id="module_table"
          >
            <thead class="thead-dark">
              <tr>
                <th>Category</th>
                <th>Created On</th>
                <th>Instructions</th>
                <th>File</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for mod in modules %}
                <!-- <tr onclick="test()"> -->
                <tr>
                  <td>{{ mod.category }}</td>
                  <td>{{ mod.date }}</td>
                  <td>{{ mod.instruction }}</td>
                  {% if mod.file %}
                    <td><a href="{{ mod.file.url }}">{{ mod.file.name }}</a></td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td>
                    <a href="#" title="View Student Submissions" onclick="view_records('{{ sub_id }}', '{{ mod.category }}')">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end of categories -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
         <!-- RECORDS -->

        <div>
          <h3>RECORDS</h3>
          <div class="record_div">
            <table class="table table-bordered stripe table-hover compact"
              style="width: 100%"
              id="per_subject_table{{ sub_id }}">
              <thead class="thead-dark">
                <tr align="center">
                  <th scope="col" rowspan="2">NAME</th>
                  <th scope="col" colspan="4">QUARTER</th>
                  <th scope="col" colspan="2">STATUS</th>
                </tr>
                <tr align="center">
                  <th scope="col">1ST QUARTER</th>
                  <th scope="col">2ND QUARTER</th>
                  <th scope="col">3RD QUARTER</th>
                  <th scope="col">4TH QUARTER</th>
                  <th scope="col">PERCENT(%)</th>
                  <th scope="col">REMARKS</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <!-- end of records -->
        <hr/>
      </div>
    </div>
</div>















<script>
  var gradelevel = $(location).attr("href").split("/")[4];
  var formatted_gradelevel = gradelevel.includes("#")
    ? gradelevel.slice(0, -1)
    : gradelevel;

  $(document).ready(function(){
    var id = $("p#sub_id").text()
    $("p#grade").text(formatted_gradelevel)
    get_records(id)
    var table = $("#module_table").dataTable();
    //get_modules(id)
  })

  function get_records(sub_id) {
    // initialization of variables
    var id_name = "#per_subject_table" + sub_id;
    var record_url =
      "http://localhost:8000/teacher/get_quarterly_grade/" +
      formatted_gradelevel +
      "/" +
      sub_id;
    // initialization of datatable
    $.fn.dataTable.ext.errMode = "none";

    $(id_name).dataTable({
      ajax: {
        url: record_url,
        dataSrc: "data",
      },
      columns: [
        { data: "full_name" },
        { data: "quarter1" },
        { data: "quarter2" },
        { data: "quarter3" },
        { data: "quarter4" },
        { data: "percent" },
        { data: "alert" },
      ],
    });
  }


  function get_modules(sub_id){
    console.log(sub_id)
    var id_name = "#module_table" + sub_id;
    var record_url =
    "http://localhost:8000/teacher/get_module_per_subject_and_grade/" +
      formatted_gradelevel +
      "/" +
      sub_id;
    // initialization of datatable
    $.fn.dataTable.ext.errMode = "none";
    $(id_name).dataTable({
      ajax: {
        url: record_url,
        dataSrc: "data",
      },
      columns: [
        { data: "type" },
        { data: "created_on" },
        { data: "instruction" },
        { data: "file" }  
      ],
    });
  }

  function view_records(sub_id, category){
    window.location.href = "/teacher/view_subject_record/"+formatted_gradelevel+"/"+sub_id+"/"+category
  }
  
  function set_category(){
    var cat = $("select#select_category").val()
    $("input#cat").val(cat)
  }


  function test(){
    window.location.href = "/teacher"
  }
  
</script>





{% endblock %} 