{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{%block main_content %}

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
      </div>
      <form action="post" id="edit_form">
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="id"
                style="display: none"
                name="id"
              />
              <input
                type="text"
                class="form-control"
                id="userprofile_id"
                style="display: none"
                name="userprofile_id"
              />
              <label for="student_number" class="col-form-label"
                >Student Number</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
              />
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label"
                >First Name</label
              >
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
              />
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
              />
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Section</label>
              <select name="section" id="section" class="form-control">
                <option value="">--Select Section--</option>
                <option value="Aguinaldo">Aguinaldo</option>
                <option value="Jacinto">Jacinto</option>
                <option value="Luna">Luna</option>
                <option value="Mabini">Mabini</option>
                <option value="Rizal">Rizal</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Gender</label>
              <input
                type="text"
                class="form-control"
                id="gender"
                name="gender"
              />
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Age</label>
              <input type="text" class="form-control" id="age" name="age" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" onclick="save()">
            Save changes
          </button>
          <button
            type="button"
            class="btn btn-secondary modal_close"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end of modal-->

<div class="main_content_profile">
  <div data-tab-content class="active info" id="firstsubj">
    <!-- searchuser -->
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="myInput"
            name="x"
            placeholder="Search term..."
          />
          <span class="input-group-text border-0" id="search-addon">
            <i class="bx bx-search-alt-2"></i>
          </span>
        </div>
      </div>

      <!-- table -->
      <hr />
      <div class="table_container">
        <table class="stripe compact" id="gradelevel">
          <thead class="thead-dark">
            <tr align="center">
              <th scope="col">Action</th>
              <th scope="col">Student Number</th>
              <th scope="col">Name</th>
              <th scope="col">Section</th>
              <th scope="col">Gender</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody align="center" id="myTable">
            {% for i in data %}
            <tr>
              <td>
                <button
                  type="button"
                  class="btn btn-primary btn-sm edit_btn"
                  data-target="#exampleModal"
                  onclick='edit_data("{{ i.id }}", "{{ i.username }}", "{{ i.first_name }}","{{ i.last_name }}", "{{ i.section }}", "{{ i.gender }}", "{{ i.age }}", "{{ i.userprofile_id }}")'
                >
                  Edit
                </button>
              </td>
              <td>{{ i.username }}</td>
              <td>{{ i.full_name }}</td>
              <td>{{ i.section }}</td>
              <td>{{ i.gender }}</td>
              <td>{{ i.age }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("button.modal_close").on("click", function () {
      $("#exampleModal").modal("hide");
    });

    var myTable = $("#gradelevel").DataTable();
    $(".dataTables_filter").hide();

    $("#myInput").keyup(function () {
      myTable.search($(this).val()).draw();
    });
  });

  var url = "teacher/sm/grade7";

  function edit_data(
    id,
    username,
    first_name,
    last_name,
    section,
    gender,
    age,
    userprofile_id
  ) {
    $("#exampleModal").appendTo("body").modal("show");
    var req_url = url + "/edit/" + id;

    $("input#id.form-control").val(id);
    $("input#username.form-control").val(username);
    $("input#first_name.form-control").val(first_name);
    $("input#last_name.form-control").val(last_name);
    $("input#section.form-control").val(section);
    $("input#gender.form-control").val(gender);
    $("input#age.form-control").val(age);
    $("input#userprofile_id.form-control").val(userprofile_id);
  }

  function save() {
    var request = $.ajax({
      type: "POST",
      url: "http://localhost:8000/yearlevel/edit",
      data: $("#edit_form").serialize(),
    });

    request.done(function (response, textStatus, jqXHR) {
      alert(response);
      setTimeout(function () {
        location.reload();
      }, 700);
    });

    request.fail(function (response, textStatus, jqXHR) {
      alert("Failed to update");
    });
  }
</script>

{% endblock %}
