{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{%block main_content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">        
        
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
      </div>
      <form action="post">
        <div class="modal-body">
          <form>

            <div class="mb-3">
              <input type="text" class="form-control" id="id" style="display: none;">
              <label for="student_number" class="col-form-label">Student Number</label>
              <input type="text" class="form-control" id="student_number">
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first_name">
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last_name">
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Section</label>
              <select name="section" id="section" class="form-control">
                <option value="">--Select Section--</option>
                <option value="Aguinaldo">Aguinaldo</option>
                <option value="Jacinto">Jacinto</option>
                <option value="Luna">Luna</option>
                <option value="Mabini">Mabini</option>
                <option value="Rizal">Rizal</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Gender</label>
              <input type="text" class="form-control" id="gender">
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Age</label>
              <input type="text" class="form-control" id="age">
            </div>

            
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary modal_close" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="main_content_profile">
  <div class="main_content_profile">
    <div data-tab-content class="active info" id="thirdsubj">
      <div class="row">
        <div class="input-group rounded">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <span class="input-group-text border-0" id="search-addon">
            <i class="bx bx-search-alt-2"></i>
          </span>
        </div>

        <hr />
        <div class="table_container">
          <table class="table">
            <thead class="thead-dark">
              <tr align="center">
                <th scope="col">Action</th>
                <th scope="col">Student Number</th>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
              </tr>
            </thead>
            <tbody align="center">
              {% for i in data %}
              <tr>
                <td>
                  <button type="button" class="btn btn-primary btn-sm edit_btn" data-target="#exampleModal" 
                  onclick='edit_data("{{ i.id }}", "{{ i.username }}", "{{ i.first_name }}","{{ i.last_name }}", "{{ i.section }}", "{{ i.gender }}", "{{ i.age }}")'>
                    Edit
                  </button> 
                </td>
                <td>{{ i.username }}</td>
                <td>{{ i.full_name }}</td>
                <td>{{ i.section }}</td>
                <td>{{ i.gender }}</td>
                <td>{{ i.age }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){

    //$('button.edit_btn').on('click', function () {
    //    $('#exampleModal').appendTo("body").modal('show');
    //})

      $('button.modal_close').on('click', function () {
        $('#exampleModal').modal('hide');
    })
  })


  var url = "teacher/sm/grade7"

  function edit_data(id, student_number, first_name, last_name, section, gender, age){
    $('#exampleModal').appendTo("body").modal('show');
    var req_url = url+"/edit/"+id

    $("input#id.form-control").val(id)
    $("input#student_number.form-control").val(student_number)
    $("input#first_name.form-control").val(first_name)
    $("input#last_name.form-control").val(last_name)
    $("input#section.form-control").val(section)
    $("input#gender.form-control").val(gender)
    $("input#age.form-control").val(age)

  } 
  
</script>


{% endblock %}
