{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid" id="background">
        
        <div class="container" id="content">
            <div>
                <header>
                    <h1>
                        Tablon NHS e-learning Portal
                    </h1>
                </header>
                <form action="login" method="post">
                    {% csrf_token %}
                    <div class="main">
                        <div class="form-group">
                            <input class="form-control input-lg mb-4 mt-4" id="inputlg" type="text" placeholder="Username" required>
                        </div>

                        <div class="form-group">
                            <input class="form-control input-lg" id="inputlg" type="password" placeholder="Password" required>
                          </div>
                        <div class="text-center">
                        <button type="button" class="btn btn-success mt-5 btn-block">Login</button>
                        </div>
                    </div>
                </form>   
            </div>     
        </div>
    </div>
  </body>
</html>
{% endblock %}