<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="C:\Users\User\Downloads\myproject\static\css\studentsubject.css">
        <title>Studentsubject</title>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
    </head>
    <body>
        <div class="container-fluid" id="background">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <a href="student.html" type="button"><button class="btn btn-primary btn-md" id="back">Back</button></a>
                    </div>
                    <div class="col-7">
                        <h1 align="center">Subjects</h1>
                    </div>
                </div>
                <hr/>
                <details>
                    <summary>Math Module</summary>
                    <br>
                    <div class="mathModule">
                        <h5>Module:</h5>
                        <a href = url>Math Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            <hr/>
                <details>
                    <summary>Science Module</summary>
                    <div class="scienceModule">
                          <h5>Module:</h5>
                          <a href = url>Science Module</a>
                          <h5>Activity:</h5>
                          <button class="btn-1">Take Activity</button>
                          <h5>Quiz:</h5>
                          <button class="btn-1">Take Quiz</button>
                          <h5>Exam:</h5>
                          <button class="btn-1">Take Exam</button>
                      </div>
                </details>
            <hr/>
                <details>
                    <summary>English Module</summary>
                    <div class="englishModule">
                        <h5>Module:</h5>
                        <a href = url>English Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            <hr/>
                <details>
                    <summary>ESP Module</summary>
                    <div class="espModule">
                        <h5>Module:</h5>
                        <a href = url>ESP Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            <hr/>
                <details>
                    <summary>History Module</summary>
                    <div class="historyModule">
                        <h5>Module:</h5>
                        <a href = url>History Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            <hr/>
                <details>
                    <summary>Filipino Module</summary>
                    <div class="filipinoModule">
                        <h5>Module:</h5>
                        <a href = url>Filipino Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            <hr/>
                <details>
                    <summary>PE Module</summary>
                    <div class="peModule">
                        <h5>Module:</h5>
                        <a href = url>PE Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            <hr/>
                <details>
                    <summary>ART Module</summary>
                    <div class="artModule">
                        <h5>Module:</h5>
                        <a href = url>Art Module</a>
                        <h5>Activity:</h5>
                        <button class="btn-1">Take Activity</button>
                        <h5>Quiz:</h5>
                        <button class="btn-1">Take Quiz</button>
                        <h5>Exam:</h5>
                        <button class="btn-1">Take Exam</button>
                    </div>
                </details>
            </div>
        </div>
    </body>
</html>