{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
{% block content %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="/static/css/mycss.css?{% now " U" %}" /> -->
  <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{%static 'css/student.css'%}"
  />
  <title>eTNHS</title>
  <link rel="icon" type="image/x-icon" href="{% static '/pictures/favicon-16x16.png' %}">

  <script src=" http://code.jquery.com/jquery-3.4.1.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"
  ></script>
</head>


<body>
{% if user.is_authenticated and user.is_student%}
<div class="container-fluid" id="background">
  <div class="container">
    <div class="wrapper">
      <div class="sidebar">
        <div class="logo_content">
          <img class="file-upload-image" src="{% static 'pictures/tnhslogo.jpg'%}" width="100" height="100" />
          <h2>Tablon National Highschool</h2>
        </div>
        <ul>
          <li data-tab-target="#profile"><a href="/teacher"><i class='bx bx-user'></i>Profile</a></li>
          </li>
          <li><a href="/studentsubject"><i class='bx bxs-book'></i>Subjects</a></li>
          <li><a href="/logout"><i class='bx bx-log-out'></i>Logout</a></li>
        </ul>
      </div>
      <!-- For Page Tabs -->
      <div class="main_content">
        <!-- For Profile Page -->
        <div class="main_content_profile">
          <div data-tab-content class="active info" id="profile">
            <div class="row">
              <!--User Update-->
              <div class="col-7" id="label">
                <form method = "POST" enctype = "multipart/form-data">
                  {% csrf_token%}
                  <h1 align="center">
                  Student Details <button type="submit" class="btn btn-secondary btn-sm" id="edit">Update Profile</button>
                  </h1>
                  <h5>Full Name : {{ user.get_full_name }}</h5>
                  <h5>Email address : {{ user.email }}</h5>
                  <h5>Grade Level : {{ user.userprofile.gradelevel}}</h5>
                  <h5>Section : {{ user.userprofile.section}}</h5>
                  {{s_form|crispy}}
                  <br>
                </form>
              </div>
              <div class="col" id="image">
                <div class="file-upload-content">
                    <img class="file-upload-image" src="{% static 'pictures/user.png'%}" width="200" height="200" alt = "Profile Picture"/>
                    <div class="image-title-wrap"></div>
                    <h5>Student</h5>
                </div> 
              </div>
            </div>
            <br><br><br>
            <h2>{{user.first_name}}'s Status Completion</h2>
            <div class="b-skills">   
              <br> 
              <div class="row">
                <div class="col-xs-12 col-md-3 col-md-3">
                  <div class="skill-item center-block">
                    <div class="chart-container">
                      <div class="chart " data-percent="92" data-bar-color="#23afe3">
                        <span class="percent" data-after="%">92</span>
                      </div>
                    </div>
                    <p>SCHOOL YEAR</p>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3 col-md-3">
                  <div class="skill-item center-block">
                    <div class="chart-container">
                      <div class="chart " data-percent="60" data-bar-color="#a7d212">
                        <span class="percent" data-after="%">60</span>
                      </div>
                    </div>
                    <p>QUARTERLY</p>
                  </div>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="{%static 'plugin/jquery-2.2.4.min.js'%}"></script>
<script src="{%static 'plugin/jquery.appear.min.js'%}"></script>
<script src="{%static 'plugin/jquery.easypiechart.min.js'%}"></script>
<script>
  'use strict';

  var $window = $(window);

  function run() {
    var fName = arguments[0],
      aArgs = Array.prototype.slice.call(arguments, 1);
    try {
      fName.apply(window, aArgs);
    } catch (err) {

    }
  };

  /* chart
  ================================================== */
  function _chart() {
    $('.b-skills').appear(function () {
      setTimeout(function () {
        $('.chart').easyPieChart({
          easing: 'easeOutElastic',
          delay: 3000,
          barColor: '#369670',
          trackColor: '#fff',
          scaleColor: false,
          lineWidth: 21,
          trackWidth: 21,
          size: 250,
          lineCap: 'round',
          onStep: function (from, to, percent) {
            this.el.children[0].innerHTML = Math.round(percent);
          }
        });
      }, 150);
    });
  };


  $(document).ready(function () {

    run(_chart);


  });



  </script>
{% else %}
<script>
  alert("Access Denied!");
  setTimeout(function () {
    window.location.href = "/";
  }, 1000);
</script>
{%endif%}
</body>

</html>
{% endblock %}