{% extends 'sidebar.html' %} {% load static %} {% load crispy_forms_tags %}
{%block main_content %}
<div class="main_content_profile">
  <div data-tab-content class="active info" id="profile">
    <div class="row">
      <!--User Update-->
      <div class="col-7" id="label">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token%}
          <h1 align="center">
            User Details
            <button type="submit" class="btn btn-secondary btn-sm" id="edit">
              Update Profile
            </button>
          </h1>
          <h5>Full Name : {{ user.get_full_name }}</h5>
          <h5>Email address : {{ user.email }}</h5>
          {{t_form|crispy}} {% comment %}
          <h5>Age : {{ user.userprofile.age }}</h5>
          <h5>Gender : {{ user.userprofile.gender}}</h5>
          <h5>Town/City : {{ user.userprofile.address }}</h5>
          {% endcomment %}
          <br />
        </form>
        {% if messages %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {% for msg in messages%}
          <strong>{{ msg }}</strong>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="col" id="image">
        <div class="file-upload-content">
          <img
            class="file-upload-image"
            src="{% static 'pictures/user.png'%}"
            width="200"
            height="200"
            alt="Profile Picture"
          />
          <div class="image-title-wrap"></div>
          <h5>TEACHER</h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
